MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=

JWT_SECRET_KEY=
